repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # Use the latest stable version
    hooks:
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "master"]      
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml      
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks
